In [1]:
library(tidyverse)
library(repr)
library(tidymodels)
options(repr.matrix.max.rows = 6)
source('tests.R')
source("cleanup.R")

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.1 ──

✔ ggplot2 3.3.6     ✔ purrr   0.3.4
✔ tibble  3.1.7     ✔ dplyr   1.0.9
✔ tidyr   1.2.0     ✔ stringr 1.4.0
✔ readr   2.1.2     ✔ forcats 0.5.1

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

── Attaching packages ────────────────────────────────────── tidymodels 1.0.0 ──

✔ broom        1.0.0     ✔ rsample      1.0.0
✔ dials        1.0.0     ✔ tune         1.0.0
✔ infer        1.0.2     ✔ workflows    1.0.0
✔ modeldata    1.0.0     ✔ workflowsets 1.0.0
✔ parsnip      1.0.0     ✔ yardstick    1.0.0
✔ recipes      1.0.1

── Conflicts ───────────────────────────────────────── tidymodels_conflicts() ──
✖ scales::discard() masks purrr::discard()
✖ dplyr::filter()   masks stats::filter()
✖ recipes::fixed()  masks stringr::fixed()
✖ dplyr::lag()      masks stats::lag()
✖ yardstick::spec() masks readr::spec()
✖ recipes::step()   masks stats::step()
• Search for functions across packages at https://www.tidymodels.org/find/

Warning message in file(filename, "r", encoding = encoding):
“cannot open file 'tests.R': No such file or directory”

ERROR: Error in file(filename, "r", encoding = encoding): cannot open the connection

In [29]:
player_data_initial <- read_csv("https://drive.google.com/uc?export=download&id=1_MECmUXZuuILYeEOfonSGqodW6qVdhsS")
    
player_data_initial

New names:
• `` -> `...1`
Rows: 500 Columns: 38
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (25): Age, Country, Plays, Wikipedia, Current Rank, Best Rank, Name, Bac...
dbl (13): ...1, Turned Pro, Seasons, Titles, Best Season, Retired, Masters, ...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

    ...1 Age             Country        Plays        Wikipedia Current Rank
1   0    26 (25-04-1993) Brazil         Right-handed Wikipedia 378 (97)
2   1    18 (22-12-2001) United Kingdom Left-handed  Wikipedia 326 (119)
3   2    32 (03-11-1987) Slovakia       Right-handed Wikipedia 178 (280)
⋮   ⋮    ⋮               ⋮              ⋮            ⋮         ⋮
498 497  23 (14-03-1996) Netherlands    Left-handed  Wikipedia 495 (60)
499 498  24 (17-05-1995) Ukraine        NA           Wikipedia 419 (81)
500 499  22 (26-03-1997) Tunisia        Left-handed  Wikipedia 451 (69)
    Best Rank        Name                 Backhand   Prize Money  ⋯ Facebook
1   363 (04-11-2019) Oscar Jose Gutierrez NA         NA           ⋯ NA
2   316 (14-10-2019) Jack Draper          Two-handed $59,040      ⋯ NA
3   44 (14-01-2013)  Lukas Lacko          Two-handed US$3,261,567 ⋯ NA
⋮   ⋮                ⋮                    ⋮          ⋮            ⋱ ⋮
498 342 (05-08-2019) Gijs Brouwer         NA         NA           ⋯ NA
499 419 (20-01-2020) Vladyslav Orlov      NA         NA           ⋯ NA
500 408 (24-12-2018) Aziz Dougaz          Two-handed $61,984      ⋯ NA
    Twitter Nicknames Grand Slams Davis Cups Web Site Team Cups Olympics
1   NA      NA        NA          NA         NA       NA        NA
2   NA      NA        NA          NA         NA       NA        NA
3   NA      NA        NA          NA         NA       NA        NA
⋮   ⋮       ⋮         ⋮           ⋮          ⋮        ⋮         ⋮
498 NA      NA        NA          NA         NA       NA        NA
499 NA      NA        NA          NA         NA       NA        NA
500 NA      NA        NA          NA         NA       NA        NA
    Weeks at No. 1 Tour Finals
1   NA             NA
2   NA             NA
3   NA             NA
⋮   ⋮              ⋮
498 NA             NA
499 NA             NA
500 NA             NA

In [30]:
colnames(player_data_initial) <- make.names(colnames(player_data_initial), unique=TRUE)
player_data_edited <- player_data_initial |>
mutate(current_rank = as.factor(Current.Rank)) |>
mutate(prize_money = as.factor(Prize.Money)) |>
select(Seasons, current_rank, prize_money)

player_data <- player_data_edited |>
filter(!is.na(Seasons),!is.na(current_rank), !is.na(prize_money) )
player_data

    Seasons current_rank prize_money
1   14      178 (280)    US$3,261,567
2    2      236 (199)    $374,093
3   11      183 (273)    US$6,091,971
⋮   ⋮       ⋮            ⋮
364  1      397 (89)     $40,724
365 10      5 (5890)     $22,132,368 15th all-time leader in earnings
366  2      451 (69)     $61,984

In [31]:
player_data
#Splitting the data into the training and testing sets, with 75% of the data going to training, and 25% of it going to testing. 
player_split <- initial_split(player_data, prop = 0.75, strata = current_rank)  
player_train<- training(player_split)   
player_test<- testing(player_split)

    Seasons current_rank prize_money
1   14      178 (280)    US$3,261,567
2    2      236 (199)    $374,093
3   11      183 (273)    US$6,091,971
⋮   ⋮       ⋮            ⋮
364  1      397 (89)     $40,724
365 10      5 (5890)     $22,132,368 15th all-time leader in earnings
366  2      451 (69)     $61,984

Warning message:
“Too little data to stratify.
• Resampling will be unstratified.”

In [ ]:
#Building a model specification (player_spec) to specify the model and training algorithm. 
Player_spec <- nearest_neighbor(weight_func = "rectangular", neighbors = tune()) |> 
      set_engine("kknn") |>
       set_mode("regression")

In [ ]:
#Recipe specifies the predictors/response and preprocesses the data, so it’s scaled. 
player_recipe <- recipe(current_rank ~ seasons + prize_money, data = player_train) |>
       step_scale(all_predictors()) |>
       step_center(all_predictors())

In [ ]:
#creating the fold for cross-validation. Cross validation uses a structured splitting so that each observation is used in a validation set only once
player_vfold<-  vfold_cv(player_train, v = 5, strata = current_rank)

#The workflow combines the model and recipe
player_workflow <- workflow() |>
       add_recipe(player_recipe) |>
   add_model(player_spec)

In [ ]:
#
player_results <-  player_workflow |>
       tune_grid(resamples = player_vfold, grid = 10) |>
collect_metrics()

Player_results

In [ ]:
player_min<- player_results |>
    filter(.metric == "rmse") |>
  arrange(mean) |> 
    slice(1)

k_min <-player_min |>
      pull(neighbors)

player_best_spec <- nearest_neighbor(weight_func = "rectangular", neighbors = k_min) |>
         set_engine("kknn") |>
          set_mode("regression")

player_best_fit <- workflow() |>
         add_recipe(player_recipe) |>
          add_model(player_best_spec) |>
          fit(data = player_train)

player_summary <- player_best_fit |>
         predict(player_testing) |>
           bind_cols(player_testing) |>
           metrics(truth = time_hrs, estimate = .pred)


Player_summary